<div class="col-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">DataTable with minimal features & hover style</h3>
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        <table id="example2" class="table table-bordered table-hover">
          <thead>
          <tr>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Age</th>
            <th>Email</th>
            <th>Adresse</th>
            <th>Grade</th>
            <th>Action</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>Trident</td>
            <td>Internet
              Explorer 4.0
            </td>
            <td>Win 95+</td>
            <td> 4</td>
            <td>X</td>
            <td> <span class="label label-success" >enseignant</span></td>
            <td><button class="btn btn-danger">Supprimer</button></td>
          </tr>
        
          </tbody>
          <tfoot>
          <tr>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Age</th>
            <th>Email</th>
            <th>Adresse</th>
            <th>Grade</th>
            <th>Action</th>
          </tr>
          </tfoot>
        </table>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>