<div class="col-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Gestion des utilisateurs</h3>
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        <table id="example2" class="table table-bordered table-hover">
          <thead>
          <tr>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Age</th>
            <th>Email</th>
            <th>Adresse</th>
            <th>Grade</th>
            <th>Action</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let u of users">
            <td>{{u.nom}}</td>
            <td>{{u.prenom}}
            </td>
            <td>{{u.age}}</td>
            <td> {{u.email}}</td>
            <td>{{u.adresse}}</td>
            <td> <span class="label label-success" >{{u.grade}}</span></td>
            <td><button class="btn btn-danger"
              >Supprimer</button></td>
          </tr>
        
          </tbody>
          <tfoot>
          <tr>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Age</th>
            <th>Email</th>
            <th>Adresse</th>
            <th>Grade</th>
            <th>Action</th>
          </tr>
          </tfoot>
        </table>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>