<div class="row">
    <div *ngFor="let stre of courses" class="col-lg-3 col-6">
      <!-- small box -->
      <div class="small-box bg-info">
        <div class="inner">
          <h3>{{stre.matiere}}</h3>

          <p>{{stre.classe}} /  {{stre.description}} </p>
        </div>
        <div class="icon">
          <i class="ion ion-camera"></i>
        </div>
        <a href="{{stre.url}}" class="small-box-footer">télécharger <i class="fas fa-arrow-circle-right"></i></a>
      </div>
    </div>
    <!-- ./col -->
   
    <!-- ./col -->
  </div>
  <table id="example2" class="table table-bordered table-hover">
    <thead>
    <tr>
      <th>Nom</th>
      <th>Prenom</th>
      <th>Email</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let u of users ">
      <td>{{u.nom}}</td>
      <td>{{u.prenom}}
      </td>
      <td> {{u.email}}</td>
     
    </tr>
  
    </tbody>
    <tfoot>
    <tr>
      <th>Nom</th>
      <th>Prenom</th>
      <th>Email</th>
     
    </tr>
    </tfoot>

  </table>
<!-- Button trigger modal -->
