<div class="card card-warning">
    <div class="card-header">
      <h3 class="card-title">Gestion de profile</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
      <form>
        <div class="row">
          <div class="col-sm-6">
            <!-- text input -->
            <div class="form-group">
              <label>Nom</label>
              <input type="text" class="form-control" placeholder="Enter ...">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label>prenom</label>
              <input type="text" class="form-control" placeholder="Enter ..." >
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <!-- textarea -->
            <div class="form-group">
              <label>Adresse</label>
              <textarea class="form-control" rows="3" placeholder="Enter ..."></textarea>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label>Role actuelle</label>
              <textarea class="form-control" rows="1" placeholder="Administrateur ..." disabled></textarea>
            </div>
          </div>
        </div>

        <!-- input states -->
        <div class="form-group">
          <label class="col-form-label" for="inputSuccess"> Mot de passe:</label>
          <input type="text" class="form-control" id="inputSuccess" placeholder="Votre email ici ...">
        </div>
        <div class="form-group">
          <label class="col-form-label" for="inputSuccess"> Répéter mot de passe:</label>
          <input type="text" class="form-control" id="inputSuccess" placeholder="Mot de passe ici ...">
        </div>
        <div class="form-group">
          <label class="col-form-label" for="inputSuccess"> Adresse mail:</label>
          <input type="text" class="form-control" id="inputSuccess" placeholder="Votre email ici ...">
        </div>
     
      

 

     

      
      </form>
    </div>
    <!-- /.card-body -->
  </div>