<div class="col-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Gestion des utilisateurs</h3>
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        <table id="example2" class="table table-bordered table-hover">
          <thead>
          <tr>
            <th>titre</th>
            <th>Description</th>
            <th>Enseignant</th>

            <th>Action</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>Trident</td>
            <td>Internet
              Explorer 4.0
            </td>
       
            <td> <span class="label label-success" >enseignant</span></td>
            <td><button class="btn btn-danger">Supprimer</button></td>
          </tr>
        
          </tbody>
          <tfoot>
          <tr>
            <th>titre</th>
            <th>Description</th>
            <th>responsable</th>

            <th>Action</th>
          </tr>
          </tfoot>
        </table>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>