<div class="col-12">
    <div class="card">
      <div class="card-header">
        <h3 align="center" >Gestion des cours</h3>
        <span *ngIf="grade=='admin'">
        <form  action="">
        
          <table class="table table-borderless">
<tr><td>fichier</td><td><input type="file"  (change)="onFileSelected($event)" class="form-control" name="f"></td></tr>
<tr><td>Matiére</td><td><input type="text" [(ngModel)]="cours.matiere" class="form-control" name="matiere"></td></tr>
<tr><td>description</td><td><textarea name="description" [(ngModel)]="cours.description" class="form-control"></textarea></td></tr>
<tr><td>classe</td><td><input type="text" [(ngModel)]="cours.classe" class="form-control" name="classe"></td></tr>
<tr><td colspan="2"><button class="btn btn-primary" (click)="add()">Ajouter</button></td></tr>




        </table></form></span>
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        <input type="text" class="form-control" placeholder="Search" [(ngModel)]="query" id="listSearch">

        <table id="example2" class="table table-bordered table-hover">
          <thead>
          <tr>
            <th>Description</th>
            <th>date ajout</th>
            <th>classe</th>
            <th>Matiére</th>
            <th>Téléchargement</th>

            <th *ngIf="grade=='admin'">Action</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let cr of courses  |   LockFilter: query |   paginate: { itemsPerPage: 3, currentPage: p }">
            <td>{{cr.description}}</td>
            <td>{{cr.date_heure | date:'medium'}}
            </td>
       
            <td> <span class="label label-success" >{{cr.classe}}</span></td>
            <td>
              {{cr.matiere}}
            </td>
            <td>
              <a target="_blank" href="{{cr.url}}">télécharger</a>
            </td>
            <td *ngIf="grade=='admin'"><button (click)="delete(cr.id)" class="btn btn-danger">Supprimer</button></td>
          </tr>
        
          </tbody>
          <tfoot>
          <tr>
            <th>Description</th>
            <th>date ajout</th>
            <th>classe</th>
            <th>Matiére</th>
            <th>Téléchargement</th>

            <th>Action</th>
          </tr>
          </tfoot>
        </table>
        <pagination-controls (pageChange)="p = $event"></pagination-controls>

      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>